.slick-dots {
	display: flex;
	li {
		width: 10 * @rem;
		height: 10 * @rem;
		background: rgba(255, 255, 255, 0);
		border: 1px solid #fff;
		border-radius: 10em;
		transition: 0.15s;
		transition-property: background, width, height;
		margin-right: 8 * @rem;

		@media screen and (max-width: 449px) {
			margin-right: 12 * @rem;
			width: 13 * @rem;
			height: 13 * @rem;
		}

		&.slick-active {
			background: #fff;
			width: 30 * @rem;
			@media screen and (max-width: 449px) {
				width: 40 * @rem;
			}
		}

		&:hover {
			background: rgba(255, 255, 255, 1);
		}

		button {
			color: transparent;
			opacity: 0;
		}
	}

	li,
	button {
		cursor: pointer;
	}
}
